@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section -->

<div class="hero-section container-fluid">
    <div class="hero-overlay"></div>
    <div class="hero-content">
        <h1>Welcome to User Registration!</h1>
        <p>Manage your registrations effortlessly with our seamless platform.</p>
        <a href="#features">Learn More</a>
    </div>
</div>

